.heading {
  text-align: center;
}

/* #header .btn:hover {
	box-shadow: 10px 8px rgba(0, 0, 0, 0.8);
} */

/* Features */
#feature {
  padding-top: 7%;
  padding-bottom: 5%;
  overflow-y: hidden;
  padding: 60px 0;
}

#feature .feature-info {
  margin-bottom: 20px;
  text-align: center;
}

#feature .feature-info i {
  font-size: 48px;
  display: inline-block;
  margin-bottom: 10px;
  color: #18d26f;
}
#feature .feature-info i:hover {
  color: #d3e4cd;
}

#feature .feature-info h3 {
  font-size: 18px;
  margin-bottom: 15px;
  font-weight: bold;
  text-transform: uppercase;
}

#feature .feature-info p {
  color: #8f8f8f;
}

/* Logo */
#logo {
  padding: 5% 5%;
}

#logo h1 {
  color: #18d26e;

  /* -webkit-text-decoration: slateblue solid underline;
	text-decoration: slateblue solid underline;
	-webkit-text-underline-position: under;
	text-underline-position: under; */
}

@media (min-width: 768px) {
  #logo h1 {
    text-shadow: 2px 2px rgba(0, 0, 0, 0.096);
  }
}

/* #logo h2 span::after {
	content: "";
	display: block;
	width: 47%;
	padding-top: 3px;
	border-bottom: 3px solid slateblue;
} */
